[user]
  name = Pritesh Tupe
  email = mail@priteshtupe.com
	signingkey = 2CB695256E32FF9E
[init]
  defaultBranch = main
[advice]
  addIgnoredFile = false
[core]
  editor = nvim
[pull]
  rebase = true
[commit]
	; gpgsign = true
