[Desktop Entry]
Exec=/home/pritesh/.config/autostart/open-default-windows.sh
Icon=dialog-scripts
Name=open-default-windows.sh
Path=
Type=Application
X-KDE-AutostartScript=true
